.header {
    height: 60px;
    max-width: 1540px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

.header-logo {
    margin-left: 15px;
}

.login-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.login-form__heading {
    margin-bottom: 30px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.form__group {
    margin-bottom: 5px;
}

.form__group-title {
    text-align: left;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;

    appearance: none;
}

.form__button {
    margin-top: 70px;
}

.form__button-submit {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #ea5550;
    color: #fff;
    cursor: pointer;
}

.register__link {
    margin-top: 30px;
    text-align: center;
}

.register__button-submit {
    text-decoration: none;
}