.header {
    display: flex;
    justify-content: space-between;
    max-width: 1540px;
    width: 100%;
    min-height: 60px;
    background-color: black;
    align-items: center;
}

.header-logo {
    margin-left: 15px;
}



.search-form__item-input {
    height: 35px;
    margin-right: 100px;
    width: 100%;
}

.header-nav__list {
    display: flex;
}

.header-nav__item {
    color: white;
    background-color: black;
    text-decoration: none;
    margin-right: 20px;
    border: none;
    font-size: 16px;
}

.header-nav__item-l {
    color: black;
    background-color: white;
    text-decoration: none;
    margin-right: 20px;
    padding: 5px 15px;
    border-radius: 3%;
}

.product-list__nav {
    border-bottom: solid 1.5px black;
    max-width: 1540px;
    width: 100%;
    margin-top: 50px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1540px;
    width: 100%;
    padding: 20px 30px;
    gap: 20px;
    justify-content: flex-start;
}

.product-list__content {
    margin: 0 auto;
    margin-top: 40px;
    width: 250px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.product-list__img {
    width: 250px;
    height: 250px;
    background-color: #d8d8d8;
    border-radius: 2%;
    overflow: hidden;
}

.product-list__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.product-name {
    margin-top: 5px;
}