.header {
    display: flex;
    justify-content: space-between;
    max-width: 1540px;
    width: 100%;
    min-height: 60px;
    background-color: black;
    align-items: center;
}

.header-logo {
    margin-left: 15px;
}



.search-form__item-input {
    height: 35px;
    margin-right: 100px;
    width: 100%;
}

.header-nav__list {
    display: flex;
}

.header-nav__item {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.header-nav__item-l {
    color: black;
    background-color: white;
    text-decoration: none;
    margin-right: 20px;
    padding: 5px 15px;
    border-radius: 3%;
}

.content {
    display: flex;
    padding: 50px;
    gap: 50px;
    max-width: 1400px;
    margin: 0 auto;
}

.detail-content {
    flex: 1;
    min-width: 0;
}

.product-detail {
    display: flex;
    padding-bottom: 40px;
    border-bottom: 1px solid black;
    align-items: flex-start;
}

.product-img {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-name {
    font-weight: bold;
    margin-bottom: 10px;
}

.product-name,
.product-price {
    margin-left: 20px;
}

.payment-content {
    padding-bottom: 40px;
    border-bottom: 1px solid black;
}

.payment-method {
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.payment {
    margin-left: 70px;
}

.delivery-address {
    margin-top: 20px;
    margin-left: 15px;
}

.edit {
    margin-top: 20px;
    margin-right: 10px;
}

.address-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    border-bottom: 1px solid black;
}

.edit-btn {
    text-decoration: none;
    color: blue;
}

.address-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postal-code {
    margin-top: 20px;
    margin-left: 70px;
}

.address {
    margin-left: 70px;
}

.confirm-content {
    width: 360px;
}

.confirm__table {
    width: 100%;
}

.confirm__row {
    border: 1px solid black;
}

.confirm__label {
    padding: 20px;
}

.confirm__data {
    padding: 20px;
}

.purchase-btn {
    width: 100%;
    background: #ea5550;
    color: #fff;
    cursor: pointer;
    border: none;
    margin-top: 40px;
    padding: 5px;
}