.header {
    display: flex;
    justify-content: space-between;
    max-width: 1540px;
    width: 100%;
    min-height: 60px;
    background-color: black;
    align-items: center;
}

.header-logo {
    margin-left: 15px;
}



.search-form__item-input {
    height: 35px;
    margin-right: 100px;
    width: 100%;
}

.header-nav__list {
    display: flex;
}

.header-nav__item {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.header-nav__item-l {
    color: black;
    background-color: white;
    text-decoration: none;
    margin-right: 20px;
    padding: 5px 15px;
    border-radius: 3%;
}

.content {
    display: flex;
    padding: 50px;
}

.detail-content {
    max-width: 700px;
    width: 100%;
}

.product-detail {
    display: flex;
    padding-bottom: 40px;
    border-bottom: 1px solid black;
}

.product-img {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-name {
    margin-left: 20px;
    font-weight: bold;
}

.product-price {
    
}

.payment-content {
    padding-bottom: 40px;
    border-bottom: 1px solid black;
}

.payment-method {
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.payment {
    margin-left: 70px;
}
